//output:../index.html, pretty:false

//- Global Variable Start
- pageCode = "index"
- animationSpeed = "800"
- animationOnce = "true"
- pageDescription = "Ready to accelerate recruitment? Talkpush is the leading productivity platform and the most high-volume chatbot for hiring talent via Facebook, WeChat and messaging."
include ./_variables.jade
//- Global Variable End

doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="#{pageDescription}")
        meta(name="keywords" content="#{metaKeywords}")
        title #{siteTitle} - #{siteDescription}
        link(type="text/css", rel="StyleSheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(type="text/css", rel="StyleSheet", href="https://fonts.googleapis.com/css?family=Dosis")
        link(type="text/css", rel="StyleSheet", href="./dist/_app.css")
        link(type="text/css", rel="StyleSheet", href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.6/css/intlTelInput.css")
        if favicon
            link(rel="shortcut icon", href="#{favicon}" type="image/x-icon")
        
        // Open Graph Start
        meta(property="og:title", content="#{siteTitle}")
        if siteImage
            meta(property="og:image", content="#{siteImage}")
        meta(property="og:description", content="#{pageDescription}")
        // Open Graph End
        
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
        
        // Smartsupp Live Chat script
        script(type='text/javascript').
          var _smartsupp = _smartsupp || {};
          _smartsupp.key = '24cb0f70c39995773a14b044623581688d760d60';
          window.smartsupp||(function(d) {
          var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
          s=d.getElementsByTagName('script')[0];c=d.createElement('script');
          c.type='text/javascript';c.charset='utf-8';c.async=true;
          c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
          })(document);

        // Google Analytics
        script.
          (function(i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
          })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
          ga('create', 'UA-46858485-2', 'auto');
          ga('send', 'pageview');
          
        // Facebook Pixel Code
        script.
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1690886631131130'); // Insert your pixel ID here.
            fbq('track', 'PageView');
            fbq('track', 'Lead');
        noscript
            img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1690886631131130&ev=PageView&noscript=1')
        // DO NOT MODIFY
        // End Facebook Pixel Code
              
    body.index
      // Video Parallax
      #video-parallax
        video(autoplay, loop)
          source(src="https://dr5ehd0u99lu0.cloudfront.net/microsites/talkpush/talkpush-2-chat-noaudio.mp4", type="video/mp4")
      
      // Header
      header
        .container
            .divider
                .logo
                    a(href="#top-section").logo
                        span Talk Push Logo
                    a(href="#").menu-button
                        i(class="fa fa-bars",aria-hidden="true")
                .menu
                    include ./_navigation.jade
      
      // Top Section
      #top-section
        .text
          h1 Recruitment Platform for the Messaging Age
          ul
            li: a(href="#try-section").main
              i(class="fa fa-commenting fa-fw", aria-hidden="true")
              span Try out Talkpush
            li: a(href="https://calendly.com/talkpush/20-minute-talkpush-demo/", target="_blank")
              i(class="fa fa-envelope-open-o fa-fw", aria-hidden="true")
              span Book a Demo
        .see-more
            a(href="#adapting-section"): i(class="fa fa-chevron-down fa-fw", aria-hidden="true")
            
      // Adapting Section
      #adapting-section.white-theme
        .filter
            .container
                h2.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Adapting Recruitment to New Behaviors
                p.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Meet your candidates where they live and create engaging digital recruitment experiences
                .divide
                    .box(data-aos="flip-right", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .stats
                            .st-title Attention spans are getting shorter
                            .st-graph-holder
                                .st-side-details: span.rotate Attention span (sec.)
                                .st-graph.g1
                                    .line: span.number 12
                                    .line: span.number 10
                                    .line: span.number 8
                                    .line: span.number 6
                                    .line: span.number 4
                                    .line: span.number 2
                                    .bars
                                        .bar-holder: .bar 12
                                        .bar-holder: .bar 8
                            .st-bar-description
                                .item 2008
                                .item Now
                        .data
                            .title Makes applications faster
                            .message In less than 5 minutes, candidates can apply, complete a first screening, and be told if they are shortlisted. This used to take days.
                    .box(data-aos="flip-right", data-aos-delay="300", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .stats
                            .st-title Millennials are glued to their phone
                            .st-graph-holder
                                .st-side-details: span.rotate Hours per day
                                .st-graph.g2
                                    .line: span.number 3 . 10
                                    .line: span.number 1 . 70
                                    .line: span.number 1 . 20
                                    .bars
                                        .bar-holder: .bar 3.10
                                        .bar-holder: .bar 1.70
                                        .bar-holder: .bar 1.20
                            .st-bar-description
                                .item Millennials
                                .item Gen X
                                .item Baby Boomers
                        .data
                            .title Meet them where they live
                            .message Talkpush allows you to engage a conversation with candidates on the platform they live on: Facebook Messenger, WeChat, Line, etc.
                    .box(data-aos="flip-right", data-aos-delay="600", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .stats
                            .st-title Most emails never get read
                            .st-graph-holder
                                .st-side-details: span.rotate Open rate
                                .st-graph.g3
                                    .line: span.number 100
                                    .line: span.number 80
                                    .line: span.number 60
                                    .line: span.number 40
                                    .line: span.number 20
                                    .bars
                                        .bar-holder: .bar 20
                                        .bar-holder: .bar 99
                            .st-bar-description
                                .item Email
                                .item Messaging
                        .data
                            .title Keep the conversation going
                            .message Once a conversation is engaged with a candidate via Talkpush, it lives on. Using SMS and messaging, employers get a 99% read rate and 70%+ response rate.
    
      // Drive Numbers Section
      #drive-section.dark-theme
        .filter
            .container
                h2.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Join the Messaging Recruitment Revolution
                p.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Talkpush helps you drives the recruitment numbers that matter.
                .divide
                    .box(data-aos="zoom-in", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .numbers 1,328,921
                        .message Automated conversations started with candidates via voice, text or social media.
                    .box(data-aos="zoom-in", data-aos-delay="300", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .numbers 42,742
                        .message Hired since 2016. Talkpush users hire hundreds of personnel every month.
                    .box(data-aos="zoom-in", data-aos-delay="600", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .numbers 67%
                        .message Reduction in cost per hire, with better conversion rates and shorter hiring cycles.
      
      // Assistant Section
      #assistant-section.white-theme
        .filter
            .container
                h2.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Stanley is the Recruitment Assistant Who Does it All
                p.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Leave the boring, repetitive stuff to Stanley the chatbot, who delivers them in real-time, 24/7.
                .divide
                    .box(data-aos="zoom-in", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .title Welcoming
                        .iphone
                            img.frame(src="./images/iphone-frame.png", alt="iphone-frame")
                            .video-holder
                                img.video#video-1(src="./images/assistant/init.gif", alt="screen-1")
                            .play-button
                                a(href="#")#play-1: i.fa.fa-play-circle.fa-fw(aria-hidden='true')
                    .box(data-aos="zoom-in", data-aos-delay="300", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .title Interviewing
                        .iphone
                            img.frame(src="./images/iphone-frame.png", alt="iphone-frame")
                            .video-holder
                                img.video#video-2(src="./images/assistant/init.gif", alt="screen-2")
                            .play-button
                                a(href="#")#play-2: i.fa.fa-play-circle.fa-fw(aria-hidden='true')
                    .box(data-aos="zoom-in", data-aos-delay="600", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        .title Scheduling
                        .iphone
                            img.frame(src="./images/iphone-frame.png", alt="iphone-frame")
                            .video-holder
                                img.video#video-3(src="./images/assistant/init.gif", alt="screen-3")
                            .play-button
                                a(href="#")#play-3: i.fa.fa-play-circle.fa-fw(aria-hidden='true')
      
      // Pricing Section
      #pricing-section.dark-theme
        .filter
            .container
                h2.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Ramp up your Hiring Volumes with Talkpush
                p.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Talkpush offers pricing that scales with your recruitment volumes. You pay as you go and upgrade or downgrade your plan based on your projected volumes.
                .divide
                    .box(data-aos="flip-right", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        h3 Starter
                        .price
                            .range Starts at
                            span.sign $
                            span.number 980
                            span.time / month
                        .cta
                            a(href="#").button-price#starter Receive an Email Quote
                        ul
                            li No Set up fee
                            li 3 users (single country)
                            li Up to 500 interviews per month included
                            li Up to 2,000 SMS sent per month
                    .box(data-aos="flip-right", data-aos-delay="300", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        h3 Business
                        .price
                            .range Starts at
                            span.sign $
                            span.number 2,500
                            span.time / month
                        .cta
                            a(href="#").button-price#business Receive an Email Quote
                        ul
                            li No Set up fee
                            li 10 users in a single country
                            li Up to 1,000 interviews per month
                            li Up to 5,000 SMS per month
                    .box(data-aos="flip-right", data-aos-delay="600", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}")
                        h3 Enterprise
                        .price
                            .range Ask for a
                            span.number Custom Quote
                        .cta
                            a(href="#").button-price#enterprise Receive an Email Quote
                        ul
                            li Global / Multi-Country Rollout
                            li Unlimited Interview Packages
                            li Integrate with your ATS
                h4.subtitle(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") <strong>Terms and conditions apply:</strong> Additional charges apply if you conduct more interviews than included in your package. Telecom charges apply for any dial-outs or live calls. Every subscription comes with full features: Automated Phone Interviews, Stanley the Facebook recruitment Chatbot, unlimited # of campaigns, candidates, messages, Reports and Analytics, job board, Google and Facebook Ad integration. Questions? Email us at <a href="mailto:hello@talkpush.com">hello@talkpush.com</a>.
        
      // Testimonial Section
      #testimonial-section.white-theme
        .filter
            .container
                h2.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") Meet the Augmented Recruiters
                p.gl(data-aos="fade-up", data-aos-duration="#{animationSpeed}", data-aos-once="#{animationOnce}") They build more engaging experiences and increase recruitment outputs through automation and AI
                .divide
                    .box-holder  
                      .box
                          .video
                              iframe(width='560', height='315', src='https://www.youtube.com/embed/nFRDqo_rc3o?rel=0&amp;showinfo=0')
                          .message We have been using Talkpush since 2014 and it has streamlined our recruitment tremendously. We are able to spend more time with the quality candidates and have increased our interview to hire ratio.
                          .speaker
                              .name — Keith Cheung
                              .position Head of Talent Acquisition Sheraton and St. Regis Macau at Sheraton
                              .icon: i.fa.fa-quote-right.fa-fw
                    .box-holder          
                      .box
                          .video
                              iframe(width='560', height='315', src='https://www.youtube.com/embed/ciSB3gMpH_g?rel=0&amp;showinfo=0')
                          .message With Talkpush, our hire rate has gone up considerably and we are able to handle much more volume with our existing team.
                          .speaker
                              .name — Marvin Vinluan
                              .position Director, Strategic Sourcing and Recruitment Marketing at Alorica
                              .icon: i.fa.fa-quote-right.fa-fw
                    .box-holder          
                      .box
                          .video
                              iframe(width='560', height='315', src='https://www.youtube.com/embed/abg2U9DuAiA?rel=0&amp;showinfo=0')
                          .message I love Talkpush because it allows access to multiple sourcing channels in one platform.
                          .speaker
                              .name — Ping Sta. Catalina
                              .position Client Services Manager
                              .icon: i.fa.fa-quote-right.fa-fw
                    .box-holder          
                      .box
                          .video
                              iframe(width='560', height='315', src='https://www.youtube.com/embed/lvYOmb8OVPE?rel=0&amp;showinfo=0')
                          .message Talkpush helps us automating the recruitment process, especially the initial call outs and collecting the information we need from candidates.
                          .speaker
                              .name — Anna Pinaroc
                              .position Recruitment Manager at Afni
                              .icon: i.fa.fa-quote-right.fa-fw
      // Try Section
      #try-section
        .container
            .title Try it now
            .divide
                a(href="#").box#demo-call-button
                    .icon: i.fa.fa-phone.fa-fw(aria-hidden='true')
                    .message Via Call
                a(href="https://m.me/letthetalenttalk/", target="_blank").box
                    .icon
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='96 93 322 324')
                            path(d='M257 93c-88.918 0-161 67.157-161 150 0 47.205 23.412 89.311 60 116.807V417l54.819-30.273C225.449 390.801 240.948 393 257 393c88.918 0 161-67.157 161-150S345.918 93 257 93zm16 202l-41-44-80 44 88-94 42 44 79-44-88 94z', fill='#fff')
                    .message Via Messenger
                a(href="#").box#we-chat-button
                 .icon: i.fa.fa-wechat.fa-fw(aria-hidden='true')
                 .message Via WeChat
                 
      // Pop-up
      #dark-filter
        #pop-up-aligner
          #pop-up
            .close-and-title
                .title ---
                a(href="#").close-button: i.fa.fa-times.fa-fw(aria-hidden='true')
            form.pp-price-section
                input(type="text", name="name", placeholder="Full Name")
                input(type="text", name="company", placeholder="Company")
                input(type="text", name="email", placeholder="Work Email")
                input(type="text", name="phone", placeholder="Telephone")
                button(type="submit") Submit
            form.demo-call-section.demo-phone
                .step-1
                    div
                        input.input-field-phone-number.adjust(type='text', name='demo_phone_no', placeholder='Phone number')
                        #demo_phone_no_error.error Error
                    div: button.btn-solid-green.btn-demo-call Call me
                .step-2
                    div
                        input.input-field-phone-number(type='text', name='demo_name', placeholder='Please enter your name')
                        #demo_name_error.error Error
                    div
                        input.input-field-phone-number(type='text', name='demo_email', placeholder='Please enter your email')
                        #demo_email_error.error Error
                    div: button.btn-solid-green.btn-demo-submit Submit
                .step-3
                    .message Thank you for your interest.
            .we-chat-icon
                img(src="./images/try-section/wechat.png", alt="WeChat Icon")
                
      // Footer Section
      include ./_footer.jade
      
      // Scripts Section
      script(src="./dist/_app.js")
